body {
    background-color: #77777A;
    margin: 0 0 0 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
}
#top{
    justify-content: center;
    display: flex;
    align-items: center;
}

.header {
    background-color: #FFFFFF50;
    display: inline-block;
    height: 50%;
    margin-bottom: 0px;
    width: 100%;
}
.header-content{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    line-height: 2.5;
    margin-left: 20%;
    font-size: x-large;
}
.header-content a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 1.7rem;
}
#header-right{
    margin-right: 5rem;
}

.mia_icon{
    border-radius: 50%;
    height: 13em;
    width: 13em;
    margin: 0 1rem 0 2rem;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.top_name{
    font-size: 3rem;
}
.top_subtext{
    margin-top: -7rem;
    display: block;
}
.top_text {
    vertical-align: top;
    line-height: 4;
    font-size: 2em;
    display: inline-block;
}
.top_mia{
    width: 40rem;
    display: flex;
    align-items: center;
    margin: 20rem auto;
}

#middle{
    margin: auto 30rem;
}
.invite {
    width: 40rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.invite button{
    margin: 0 auto;
    border-radius: 2rem;
    background-color: #ffffff48;
    border-color: #00000000;
    transition: 0.2s;
    cursor: pointer;
}
.invite button:hover{
    transform: scale(1.05);
}

@keyframes scale-up {
    to {
        transform: scale(1.1);
    }
}
.discord-icon {
    margin: 1.5rem;
}
.invite_div{
    vertical-align: top;
    margin: 3rem 3rem 0 1rem;
    display: inline-block;
}
.invite_title{
    font-size: 2rem;
}

#text-only{
    margin: 10rem 15%;
    border-radius: 1rem;
    background-color: #ffffff48;
}

#text-only p{
    margin: 0 5rem;
    font-size: 1.3rem;
}
#text-only h1{
    margin: 0 5rem;
    font-size: 3rem;
}
#text-only h2{
    margin: 3rem 5rem 0;
    font-size: 2rem;
}
.side-view{
    justify-content: center;
    display: flex;
}
.about-section{
    margin: 5rem 10rem;
    height: 30rem;
    width: 40%;
    background-color: #ffffff48;
    text-align: center;
    border-radius: 1rem;
}
.about-section-title{
    font-size: 3rem;
}

.members{
    margin-top: 2rem;
}

.members button{
    border-radius: 1rem;
    background-color: #fff3;
    border-width: 0;
    cursor: pointer;
}
.members img{
    border-radius: 50%;
    display: inline-block;
    height: 12rem;
    margin: 2rem;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.members div{
    display: inline-block;
    margin: 5rem 5rem 5rem 0;
    vertical-align:top;
}
.members b{
    font-size: 3rem;
    display: block;
}
.members span{   
    font-size: 1.8rem;
    display: block;
}

.footer {
    height: 130px;
    text-align: center;
    position: relative;
    margin-top: 10rem;
}

.footer-text {
    background: rgba(255, 255, 255, 0);
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    color: #555;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 60%;
    left: 0%;
    transform: translate(0%, 0%);
}